/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";

@theme {
  --color-primary: #007782;
  --color-accent: #09B1BA;
}

body {
  background-color: #f3f4f6;
  font-family: 'Inter', sans-serif;
}
